.text-center {
    text-align: center;
  }

  .font {
    color: darkslategrey;
    font-family: 'Segoe UI', sans-serif;
}

.button-size {
    width: 100px;
}

.darker {
    color: #64706d;
}

.font-sm {
    font-size: 80%;
}

.spacing {
    padding-inline-start: 4%;
    top: 2%;
}

.font-italic {
    font-style: italic;
    color: #4a6060;
}

.top {
    margin-top: 80px;
}
