<div class="container text-center top"><h1 class="font">Users</h1></div>
<table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center align-middle">#</th>
            <th scope="col" class="text-center align-middle">Username</th>
            <th scope="col" class="text-center align-middle">E-mail</th>
            <th scope="col" class="text-center align-middle">Block</th>
            <th scope="col" class="text-center align-middle">Blocked until</th>
            <th scope="col" class="text-center align-middle">Unblock</th>
            <th scope="col" class="text-center align-middle">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of users; let i = index'>            
            <th scope="row" class="text-center align-middle"> {{ i + 1 }}</th>
            <td class="text-center align-middle" [class.font-italic]="!user.emailConfirmed">{{ user.username }}</td>
            <td class="text-center align-middle" [class.font-italic]="!user.emailConfirmed">{{ user.email }}</td>
            <td class="text-center align-middle"><button class="btn button-size btn-info" [disabled]="user.blocked" (click)="onBlockUser(user)" data-toggle="modal" data-target="#blockUserModal">Block</button></td>
            <td class="text-center align-middle"><ng-container *ngIf="user.blockedUntil != null"> {{ user.blockedUntil | date }}</ng-container></td>
            <td class="text-center align-middle"><button class="btn button-size btn-info" [disabled]="!user.blocked" (click)="onUnblockUser(user)" data-toggle="modal" data-target="#unblockUserModal">Unblock</button></td>
            <td class="text-center align-middle"><button class="btn btn-danger button-size" (click)="onUserDelete(user)" data-toggle="modal" data-target="#deleteUserModal">Delete</button></td>
          </tr>
        </tbody>
</table>

<!-- Delete Modal -->
<div class="modal" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <p>Do you want to delete <i>{{ username }}</i>?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onUserDeleteSubmit()">Submit</button>
      </div>
      </div>
  </div>
</div>

<!-- Block modal -->
<div class="modal" id="blockUserModal" tabindex="-1" role="dialog" aria-labelledby="blockUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="blockUserModalLabel">Block user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to block <i>{{ username }}</i>:</p>
                <input type="radio" name="blockUser" value="indef" (click) = "setAllowCalendarFalse()" ngModel> Indefinitely
                <br>
                <input type="radio" name="blockUser" value="def" (click) = "setAllowCalendarTrue()" ngModel> For a definite period <i class="font-sm">(minimum date is tomorrow)</i>
                <br>
                <input type="date" class="spacing" [(ngModel)]="blockedUntil" [min] = "minDate" name="blockedUntil">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" [disabled]="!click" class="btn btn-submit" (click)="blockUserOk()" data-dismiss="modal">Block</button>
            </div>
            </div>
        </div>
</div>

<div class="modal" id="unblockUserModal" tabindex="-1" role="dialog" aria-labelledby="unblockUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="unblockUserModalLabel">Unblock user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Unblock <i>{{ username }}</i>?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="unblockUserOk()">Yes</button>
        </div>
        </div>
    </div>
  </div>