<html lang="en" class="full-height view intro-2 hm-gradient">

<body class="full-bg-img">
    <div>
        <div class="container flex-center">
            <div class="row flex-center">
                <div class="col-md-10 text-center text-md-left margins">
                    <div class="white-text">
                        <h1 class="h1-responsive top">Online Book Library</h1>
                        <hr class="hr-light">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="container btm">
            <div class="row py-3">
                <div class="col-lg-12 text-center">
                    <p>Online Book Library is an application for true book lovers. It allows you to organize your reading schedule. 
                        Here you can gain access to a large amount of books and peek into your friends' reading lists. Find what you're going to read next and tell everybody what you've already read. 
                        Enjoy discovering a world of imagination where every book is just one click away.</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>


<div class="container pt-5">
    <h4>This week's recommendation</h4>
    <div class="form-inline">
        <ng-container *ngFor="let book of books; let i = index">
            <div>
                <ng-container *ngIf="!loginService.hasRoleAdmin()">
                    <img class="img" (click)="navigate(i)" src="{{book?.picUrl}}"> </ng-container>
                <ng-container *ngIf="loginService?.hasRoleAdmin()">
                    <img class="img" src="{{book?.picUrl}}"> </ng-container>
                <br>
                <br>
                <p class="text-center cursor" (click)="navigate(i)">{{book?.title}}
                    <br>
                    <i class="text-center fnt">{{book?.author}}</i>
                </p>
            </div>
        </ng-container>
    </div>
</div>

<div class="container pt-5">
    <h4 class="d-inline">This week's </h4>
    <div class=" d-inline dropdown-toggle cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        ngbDropdown>
        <h4 class="d-inline"><strong>{{genre}}</strong></h4>
    </div>
    <h4 class="d-inline"> recommendation</h4>
    <div class="dropdown-menu cursor" aria-labelledby="dropDownMenu" ngbDropdownMenu>
        <a class="dropdown-item" (click)="loadScifiBooks()">Sci-fi</a>
        <a class="dropdown-item" (click)="loadDramaBooks()">Drama</a>
        <a class="dropdown-item" (click)="loadFictionBooks()">Fiction</a>
        <a class="dropdown-item" (click)="loadHorrorBooks()">Horror</a>
        <a class="dropdown-item" (click)="loadThrillerBooks()">Thriller</a>
        <a class="dropdown-item" (click)="loadClassicBooks()">Classic</a>
    </div>
    <h4></h4>
    <div class="form-inline alignment">
        <ng-container class="alignment" *ngFor="let book of secondBooks; let i = index">
            <div>
                <ng-container *ngIf="!loginService.hasRoleAdmin()">
                    <img class="img" (click)="navigateSecondBooks(i)" src="{{book?.picUrl}}"> </ng-container>
                <ng-container *ngIf="loginService?.hasRoleAdmin()">
                    <img class="img" src="{{book?.picUrl}}"> </ng-container>
                <br>
                <br>
                <p class="text-center cursor title" (click)="navigate(i)">{{book?.title}}
                    <br>
                    <i class="text-center fnt">{{book?.author}}</i>
                </p>
            </div>
        </ng-container>
    </div>
</div>