.intro-2 {
    background: url("https://www.carbonbrief.org/wp-content/uploads/2015/03/stock-old-library-books-1550x804.jpg") ;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn .fa {
    margin-left: 3px;
}
.top-nav-collapse {
    background-color: #424f95 !important;
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
}
h6 {
    line-height: 1.7;
    padding: 0%;
}
.hm-gradient .full-bg-img {
    background: linear-gradient( rgba(175, 216, 255, 0.719), rgba(232, 209, 248, 0.938));
}
@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header 
    .view {
        height: 100%;
    }
}

.top {
    padding-top: 100px;
}

.img {
    height: 255px;
    width: 180px;
    box-shadow: 7px 7px rgba(141, 136, 136, 0.377);
}

.form-inline > * {
    margin:15px 15px;
 }

 .form-inline {
    padding-bottom: 80px;
 }

 .btm {
    padding-bottom: 60px;
 }

 .fnt {
    font-size: 80%;
    font-style: italic;
    color: #373737;
 }

 .cursor {
     cursor: pointer;
 }

 .alignment {
    /* margin-right: 1.5%;  */
    vertical-align: top;
    /* margin-bottom: 2%; */
}

.title {
    width: 190px;
    vertical-align: top;    
}