<div>
    <div class="top">
      <h6 id="one" (click)="showReadBooks()" [class.blue]="read">Read books</h6>
      <h6 id="two" (click)="showToReadBooks()" [class.blue]="toRead">To-read books</h6>
      <h6 id="three" (click)="showReadingBooks()" [class.blue]="reading">Currently reading</h6>
    </div>
  
  
    <hr class="hr-short">
    <!-- Filter part -->
    <div>
      
      <div id="sortBy">
        <strong>Sort by:</strong>
        <div class="dropdown-toggle cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdown>
          {{ nameSort }}
        </div>
        <div class="dropdown-menu cursor" aria-labelledby="dropDownMenu" ngbDropdownMenu>
          <a class="dropdown-item" (click)="sortBy = 'title'; nameSort = 'Title'">Title</a>
          <a class="dropdown-item" (click)="sortBy = 'author'; nameSort = 'Author'">Author</a>
          <a class="dropdown-item" (click)="sortBy = 'genre'; nameSort = 'Genre'">Genre</a>
          <a class="dropdown-item" (click)="sortBy = 'publisher'; nameSort = 'Publisher'">Publisher</a>
          <a class="dropdown-item" (click)="sortBy = 'rating'; nameSort = 'Your ratings'">Your ratings</a>
          <a class="dropdown-item" (click)="sortBy = 'globalRating'; nameSort = 'Global ratings'">Global ratings</a>
          <a class="dropdown-item" (click)="sortBy = 'commentsNumber'; nameSort = 'Number of comments'">Number of comments</a>
        </div>
      </div>
  
      <div id="type">
        <strong>Type:</strong>
        <div class="dropdown-toggle cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdown>
          {{ nameType }}
        </div>
        <div class="dropdown-menu cursor" aria-labelledby="dropDownMenuType" ngbDropdownMenu>
          <a class="dropdown-item" (click)="type = 'asc'; nameType = 'Ascending'">Ascending</a>
          <a class="dropdown-item" (click)="type = 'desc'; nameType = 'Descending'">Descending</a>
        </div>
      </div>
  
      <div id="filterCriteria">
          <div class="dropdown-toggle cursor" data-toggle="dropdown" aria-haspopup="true" autoClose="disabled" aria-expanded="false" ngbDropdown>
          Filter by:
          </div>
          <div class="dropdown-menu cursor" aria-labelledby="dropDownMenu" ngbDropdownMenu>
              <a class="dropdown-item" (click)="criteria = null; value = ''">None</a>
              <a class="dropdown-item" (click)="criteria = 'title'; value = ''">Title</a>
              <a class="dropdown-item" (click)="criteria = 'author'; value = ''">Author</a>
              <a class="dropdown-item" (click)="criteria = 'genre'; value = ''">Genre</a>
            </div>
      </div>
      <div id="filterCrChosen">
      <div *ngIf = "criteria === 'author'" id="filterCriteriaTitle">
          <input class="form-control" type="text" [(ngModel)] = "value" placeholder="Author">
    </div>
  
      <div *ngIf = "criteria === 'title'" id="filterCriteriaTitle">
            <input class="form-control" type="text" [(ngModel)] = "value" placeholder="Title">
      </div>
  
      <div *ngIf = "criteria === 'genre'" id="filterCriteriaGenre">
            <input class="form-control" type="text" [(ngModel)] = "value" placeholder="Genre">
      </div>
    </div>
  
      <hr class="hr-short">
  
      <!-- Books part -->
  
      <ng-container *ngIf="read">
        <div class="container pt-2 pb-2">
          <h5 class="pb-3 pt-3">Books you've read:</h5>
          <div class="container alignment">
            <div class="alignment" *ngFor="let book of (readBooks | filterBooks : criteria : value ) | sortBooks: sortBy : type ">
              <img class="img" (click)="previewBook(book.id)" src="{{book.coverImage}}" />
              <br>
              <br>
                <fieldset class="rating">
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes==5" id="star5" name="rating" value="5"><label class = "full" for="star5" title="Amazing - 5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=4.5" id="star4half" name="rating" value="4 and a half"><label class="half" for="star4half" title="4.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=4" id="star4" name="rating" value="4"><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=3.5" id="star3half" name="rating" value="3 and a half"><label class="half" for="star3half" title="3.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=3" id="star3" name="rating" value="3"><label class = "full" for="star3" title="I liked it - 3 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=2.5" id="star2half" name="rating" value="2 and a half"><label class="half" for="star2half" title="2.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=2" id="star2" name="rating" value="2"><label class = "full" for="star2" title="Ok - 2 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=1.5" id="star1half" name="rating" value="1 and a half"><label class="half" for="star1half" title="1.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=1" id="star1" name="rating" value="1"><label class = "full" for="star1" title="It was bad - 1 star"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=0.5" id="starhalf" name="rating" value="half"><label class="half" for="starhalf" title="0.5 stars"></label>
                </fieldset>
              <br>
              <br>
              <p class="text-center title">
                <strong> {{ book.title }} </strong>
                <br>
                <i class="text-center fnt">{{ book.author.name }}</i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
  
      <ng-container *ngIf="toRead">
        <div class="container pt-2 pb-2">
          <h5 class="pb-3 pt-3">Books you want to read:</h5>
          <div class="container alignment">
            <div class="alignment" *ngFor="let book of ( toReadBooks | filterBooks : criteria : value ) | sortBooks: sortBy : type ">
              <img class="img" (click)="previewBook(book.id)" src="{{book.coverImage}}" />
              <br>
              <br>
                <fieldset class="rating">
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes==5" id="star5" name="rating" value="5"><label class = "full" for="star5" title="Amazing - 5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=4.5" id="star4half" name="rating" value="4 and a half"><label class="half" for="star4half" title="4.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=4" id="star4" name="rating" value="4"><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=3.5" id="star3half" name="rating" value="3 and a half"><label class="half" for="star3half" title="3.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=3" id="star3" name="rating" value="3"><label class = "full" for="star3" title="I liked it - 3 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=2.5" id="star2half" name="rating" value="2 and a half"><label class="half" for="star2half" title="2.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=2" id="star2" name="rating" value="2"><label class = "full" for="star2" title="Ok - 2 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=1.5" id="star1half" name="rating" value="1 and a half"><label class="half" for="star1half" title="1.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=1" id="star1" name="rating" value="1"><label class = "full" for="star1" title="It was bad - 1 star"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=0.5" id="starhalf" name="rating" value="half"><label class="half" for="starhalf" title="0.5 stars"></label>
                </fieldset>
              <br>
              <br>
              <p class="text-center title">
                <strong> {{ book.title }} </strong>
                <br>
                <i class="text-center fnt">{{ book.author.name }}</i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
  
  
      <ng-container *ngIf="reading">
        <div class="container pt-2 pb-2">
          <h5 class="pb-3 pt-3">Books you are currently reading:</h5>
          <div class="container alignment">
            <div class="alignment" *ngFor="let book of ( readingBooks | filterBooks : criteria : value ) | sortBooks: sortBy : type ">
              <img class="img" style="cursor: pointer;" (click)="previewBook(book.id)" src="{{book?.coverImage}}" />
              <br>
              <br>
                <fieldset class="rating">
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes==5" id="star5" name="rating" value="5"><label class = "full" for="star5" title="Amazing - 5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=4.5" id="star4half" name="rating" value="4 and a half"><label class="half" for="star4half" title="4.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=4" id="star4" name="rating" value="4"><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=3.5" id="star3half" name="rating" value="3 and a half"><label class="half" for="star3half" title="3.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=3" id="star3" name="rating" value="3"><label class = "full" for="star3" title="I liked it - 3 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=2.5" id="star2half" name="rating" value="2 and a half"><label class="half" for="star2half" title="2.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=2" id="star2" name="rating" value="2"><label class = "full" for="star2" title="Ok - 2 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=1.5" id="star1half" name="rating" value="1 and a half"><label class="half" for="star1half" title="1.5 stars"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=1" id="star1" name="rating" value="1"><label class = "full" for="star1" title="It was bad - 1 star"></label>
                  <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=0.5" id="starhalf" name="rating" value="half"><label class="half" for="starhalf" title="0.5 stars"></label>
                </fieldset>
              <br>
              <br>
                <p class="text-center title">
                  <strong style="cursor: pointer;" (click)="previewBook(book.id)"> {{ book?.title }} </strong>
                  <br>
                  <i class="text-center fnt">{{ book?.author.name }}</i>
                  <br>
                </p>
            </div>
          </div>
        </div>
      </ng-container>
  
    </div>
  
  </div>
  