.top {
    margin-top: 85px;
}

#one {
    display: inline-block;
    margin-left: 20%;
    cursor: pointer;
}

#two {
    display: inline-block;
    margin-left: 20%;
    cursor: pointer;
}

#three {
    display: inline-block;   
    margin-left: 20%;
    cursor: pointer;
}

.hr-short {
    margin-left: 10%;
    margin-right: 10%;
}

.blue {
    color: rgb(99, 175, 150);
    font-style: italic;
}

.ml {
    margin-left: 12%;
}

.cursor {
    cursor: default;
}

#sortBy {
    /* display: inline-block; */
    float: left;
    margin-left: 20%;
    margin-right: 7%;
}

#type {
     display: inline-block;  
}

#filterCriteria {
    display: inline-block;
    margin-left: 7%;
}

#filterCrChosen {
    display: inline-block;
    margin-left: 7%;
}

.img {
    height: 240px;
    width: 165px;
    box-shadow: 7px 7px rgba(141, 136, 136, 0.377);
}

.fnt {
    font-size: 80%;
    font-style: italic;
    color: #373737;
 }

 .title {
    width: 190px;
    vertical-align: top;    
}

.alignment {
    margin-right: 1.5%; 
    display:inline-block;
    vertical-align: top;
    margin-bottom: 2%;
}

.checked {
    color: #fff700;
    outline-color: black;
}

.half-checked {
    color: #fff700;

}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  margin-left: 8%;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked,
.rating > input:checked ~ label  { color: #FFD700;  } 