<div class="top row">
        <div class="offset-lg-2 col-lg-2">
          <img class="ml d-block img" src="{{book?.coverImage}}">
        </div>
        <div class="col-lg-7">
          <div class="row title mb-2">
            <b>{{book?.title}}</b>
          </div>
          <div class="row author mb-2">
            {{book?.author.name}}
          </div>
          <div class="row mb-2 align-middle">
            <div *ngIf="book?.userRating === null">
              <fieldset class="rating">
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes==5" id="star5" name="rating" value="5" (click)="setRating('5')"><label class="full" for="star5" title="Amazing - 5 stars"></label>
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=4.5" id="star4half" name="rating" value="4 and a half"><label *ngIf="!hover" class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=4" id="star4" name="rating" value="4" (click)="setRating('4')"><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=3.5" id="star3half" name="rating" value="3 and a half"><label *ngIf="!hover" class="half" for="star3half" title="I liked it - 3.5 stars"></label>
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=3" id="star3" name="rating" value="3" (click)="setRating('3')"><label class="full" for="star3" title="I liked it - 3 stars"></label>
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=2.5" id="star2half" name="rating" value="2 and a half"><label *ngIf="!hover" class="half" for="star2half" title="Ok - 2.5 stars"></label>
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=2" id="star2" name="rating" value="2" (click)="setRating('2')"><label class="full" for="star2" title="Ok - 2 stars"></label>
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=1.5" id="star1half" name="rating" value="1 and a half"><label *ngIf="!hover" class="half" for="star1half" title="It was bad - 1.5 stars"></label>
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=1" id="star1" name="rating" value="1" (click)="setRating('1')"><label class="full" for="star1" title="It was bad - 1 star"></label>
                <input type="checkbox" [disabled] [checked]="book?.globalRating.votes>=0.5" id="starhalf" name="rating" value="half"><label *ngIf="!hover" class="half" for="starhalf" title="Just no - 0.5 stars"></label>
              </fieldset>
            </div>
          </div>
          <div class="row">
              <br>
              <br>
              <i>Average rating: </i>&nbsp;{{book?.globalRating.votes}}
              <i class="fa fa-star"></i>
            </div>
            <br>
        </div>
      </div>
      
      
      <div class="row mt-3">
        <table class="table">
          <tr>
            <th scope="row">Genres:</th>
            <td *ngFor="let genre of book?.genreList">
              {{ genre.genre }}
            </td>
          </tr>
          <tr>
            <th scope="row">Description:</th>
            <td [innerHtml]="book?.description"></td>
          </tr>
          <tr>
            <th scope="row">Isbn13:</th>
            <td>{{ book?.isbn13}}</td>
          </tr>
          <tr>
            <th scope="row">Number of pages:</th>
            <td>{{ book?.pageCount}}</td>
          </tr>
          <tr>
            <th scope="row">Languages:</th>
            <td>{{ book?.language}}</td>
          </tr>
          <tr>
            <th scope="row">Publisher:</th>
            <td>{{ book?.publisher}}</td>
          </tr>
          <tr>
            <th scope="row">Date published:</th>
            <td>{{ book?.publishedDate | date }}</td>
          </tr>
        </table>
      
      
        </div>
      