<div class="container-fluid col-lg-12">
  <div class="row align-items-center">
    <div class="top offset-lg-2 col-lg-2">
        <ng-container *ngIf="user?.pictureUrl !== null && user?.pictureUrl !== undefined">
            <div class="crop">
                <img [src]="'data:image/jpeg;base64,'+user?.pictureUrl" class="img-responsive">
            </div>
        </ng-container>
        <ng-container *ngIf="user?.pictureUrl === null || user?.pictureUrl === undefined">
            <div class="crop">
                <img src="{{alternateUrl}}" class="img-responsive">
            </div>
        </ng-container>
        <div class="col-lg-6">
            <button class="btn btn-primary mt-2" (click)="fileInput.click()">Change picture</button>
            <input style="display:none" type="file" (change)="setImage($event.target.files)" #fileInput class="input">
        </div>
        <p class="small">*images need to be PNG or JPEG</p>
        <div *ngIf="wrongPic" class="alert alert-warning alert-dismissible fade show" role="alert">
            JPEG or PNG only!
        </div>
    </div>
    <div class="top col-lg-3">
        <h2> {{user?.name}} </h2>
        <p><i>About me:</i></p>
        <div *ngIf="user?.description != null && user?.description != undefined && !editing" class="container">
            <div class="desc">
                {{ user?.description }} <button class="edit cursor" title="Edit" (click)="setEdit()"><i class="far fa-edit"></i></button>
            </div>
        </div>
        <div *ngIf="user?.description === null || user?.description === undefined || editing">
            <textarea [(ngModel)]="description" class="mb-1" maxlength="200" class="form-control col-lg-12" rows="5"></textarea>
            <div class="btn-group float-right">
              <button class="btn btn-width btn-primary mt-1" (click)="saveDescription()">Post</button>
              <button *ngIf="editing" class="btn btn-width btn-info mt-1" (click)="cancelEdit()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="align-middle top offset-lg-1 col-lg-2 text-center">
      <div>
          <a class="mt-4 mb-4" (click)="readBooks()"><i class="fa fa-book"></i> Books you've read</a>
      </div>
      <hr>
      <div>
          <a class="mt-4 mb-4" (click)="toReadBooks()"><i class="fa fa-clock"></i> Books you want to read</a>
      </div>
      <hr>
      <div>
          <a class="mt-4 mb-4" (click)="readingBooks()"><i class="fa fa-book-reader"></i> Books you're reading</a>
      </div>
    </div>
  </div>

  <div class="container mt-5">
      <div class="row">
        <div class="offset-lg-1 col-lg-2">
          <a class="blue" (click)="changingPass=!changingPass">Change password?</a>
        </div>
      </div>
    </div>
    
      <div *ngIf = "changingPass" class="container">
      <div class="row mt-3">
          <div class="offset-lg-1 col-lg-6">
            <div class="form-group">
            <input id="newpass" #newpass name="newpass" [(ngModel)]="newPasword" placeholder="New Password" class="form-control here" type="password">
            <input type="checkbox" class="mt-1" (click)="myFunction()">&nbsp;Show Password
          </div>
        </div>
        </div> 
        
        <div class="row">
          <div class="offset-lg-1 col-lg-4">
            <div class="form-group">
            <button (click) = "changePassword()" name="submit" type="submit" class="btn btn-primary">Change password</button>
          </div>
          </div>
        </div>
      </div>

  <div class="row mt-5">
    <div class="offset-lg-2 col-lg-8">
      <table class="border-black table table-user-information">
          <tbody>
            <tr>
              <td><b>Username</b></td>
              <td>{{ user?.username }}</td>
            </tr>
            <tr>
              <td><b>Date Joined</b></td>
              <td>{{ user?.dateJoined | date }}</td>
            </tr>
            <tr>
              <td><b>Gender</b></td>
              <td>{{ (user?.gender) ? "Female" : "Male" }}</td>
            </tr>
            <tr style="border-bottom: none;">
              <td><b>E-Mail</b></td>
              <td>{{ user?.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <div class="row mt-5">
    <div class="container pt-2 pb-2">
      <h5 class="pb-3 pt-3">Some of the books you've recently rated:</h5>
      <div class="container alignment">
        <div class="alignment" *ngFor="let book of books | sortBooks: 'rating' : 'desc'; let i = index">
          <ng-container *ngIf = "book?.userRating != 0 && book?.userRating != null">
            <div class="box">
              <img class="img cursor" (click)="previewBook(book.id)" src="{{book.coverImage}}" (mouseover)="book.hover = true" (mouseleave)="book.hover = false"/>
              <div *ngIf="!book.hover" class="centered">
                <div class="circle cursor" (mouseover)="book.hover = true">{{ book?.userRating }}</div>
              </div>
            </div>
            <br>
            <p class="text-center title">
              <strong> {{ book.title }} </strong>
              <br>
              <i class="text-center fnt">{{ book.author.name }}</i>
            </p>
          </ng-container>
        </div>
        <div *ngIf = "!notEmpty">
            <div class="container text-center mt-5 mb-5 empty"><i>You haven't rated any books yet! Search for books you've read and give them a score you think they deserve!</i></div>
        </div>
      </div>
    </div>
  </div>
</div>
