.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #ccc;
}

th {
    text-align: left;    
}

.toppad{
    margin-top:20px;
}


.top {
    margin-top: 100px;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.crop img {
    width: 200px;
    height: 200px;
    object-position: center;  
    object-fit: cover; 
    vertical-align: middle;
    margin-bottom: 1rem;
    border-radius: 50%;
}

a:hover {
    color: rgb(62, 143, 69);
    font-style: oblique;
    cursor: pointer;
}

button {
    float:none;
    margin-left: 20%;
}

textarea {
    resize: none;
}

.edit {
    background-color: transparent;
    border: none;
    text-align: left;
}

.btn-width {
    width: 90px;
}

.btn-info {
    background-color: rgb(31, 80, 255);
}

.btn-info:hover {
    background-color: rgb(38, 71, 189);
}

.cursor {
    cursor: pointer;
}

/*rated*/
  
.rated { 
    border: none;
    float: left;
}

.rated > label.remove::before,
.rated > input.remove::before {
    content: "\f057";
    font-size: 1.5em;
    font-family: FontAwesome;
}
    
.rated > input { display: none; } 
.rated > label:before { 
    margin: 5px;
    font-size: 1.5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
    
.rated > .half:before { 
    content: "\f089";
    position: absolute;
}
    
.rated > label { 
    color: #ddd; 
    float: right; 
}
    
/***** CSS Magic to Highlight Stars on Hover *****/
    
.rated > input:checked ~ label { color: #4845ff;  } /* hover previous stars in list */

.img {
    height: 227px;
    width: 155px;
    box-shadow: 7px 7px rgba(141, 136, 136, 0.377);
}

.box {
    position: relative;
    text-align: center;
    color: white;
}

img.img {
    opacity: 0.5;
}

img.img:hover {
    opacity: 1;
}

img.img + div.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fnt {
    font-size: 80%;
    font-style: italic;
    color: #373737;
 }

 .title {
    width: 190px;
    vertical-align: top;    
}

.alignment {
    margin-right: 1.5%; 
    display:inline-block;
    vertical-align: top;
    margin-bottom: 2%;
}

.ml {
    margin-left: 12%;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #000;
    opacity: 0.9;
}

.empty {
    font-size: 180%;
    color: #6a6a6a8d;
}

.desc {
    width: 400px;
    height: 150px;
    vertical-align: text-top;
}

a.blue {
    color: #3e8bff;
}

p.small {
    color: rgb(94, 94, 94);
}