.nbar {
    background-color: #57575794;
}

.cursor {
    cursor: pointer;
}

.transparent {
    background-color: transparent;
    border: none;
}

input {
    border-width: 0 0 1.2px;
    background-color: transparent;
    outline: none;
    border-radius: 0;
}

.input {
    width: 300px;
}

input:focus {
    background-color: rgba(194, 194, 194, 0.418);
    border-color: whitesmoke;
}

input::placeholder {
    color: rgb(206, 206, 206);
}

input::placeholder:focus {
    color: rgb(216, 216, 216);
}


.btn {
    background-color: transparent;
    border: none;
    border-width: 0 0 2px;
}

.top {
    margin-top: 80px;
}

li.notification {
    width: 120px;
}

i.fa {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #c2c2c2;
    padding: 0.5em 0.6em;
    background-color: #c2c2c2;
    transform: scale(1.3, 1.3);
}

i.fa-users {
    transform: scale(1.1, 1.3);
}

i.fa-bell.red {
    background-color: rgb(245, 88, 88);
}

li.notification {
    overflow: auto;
    white-space: normal;
    margin-left: 5px;
    font-size: small;
}

.dropdown-menu{
    width: 400px;
    max-width: 400px;
}