<nav class="nbar navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <strong>Home</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <ng-container *ngIf="login.isUserAuth()">                    
                        <ng-container *ngIf="!login.hasRoleAdmin()">
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="/book-list/1" title="Your Books">
                                    <i class="fa fa-book"></i>
                                </a>
                            </li>
                        </ng-container>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/profile-search" title="Search other users">
                                <i class="fa fa-users"></i>
                            </a>
                        </li>
                        <ng-container *ngIf="login?.hasRoleAdmin()">
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="/admin-page" title="Admin Page">Admin Page</a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="!login.hasRoleAdmin()">
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="/search-books-db" title="Search from DataBase">
                                    <i class="fa fa-database"></i>
                                </a>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <ng-container *ngIf="!login?.hasRoleAdmin()">
                        <li *ngIf="login.isUserAuth()" class="nav-item" routerLinkActive="active">
                            <div class="input-group mb-2 mr-sm-2">
                                <input type="text" (keyup.enter)="searchApi()" [(ngModel)]="searchText" title="Search API for books" class="form-control input" placeholder="Search ...">
                                <div class="input-group-prepend">
                                    <button (click)="searchApi()" type="submit" class="btn input-group-text cursor">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ul>
                <ul *ngIf="login.isUserAuth()" class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fa fa-bell" [class.red]="unread" title="Notifications"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <ng-container *ngIf="notifications.length === 0">
                                        <div class="dropdown-divider"></div>
                                        <li class="dropdown-item d-inline cursor notification mr-2 disabled"><b>You have no notifications.</b></li>
                                        <div class="dropdown-divider"></div>
                                    </ng-container>
                                    <ng-container *ngFor="let not of notifications; let i = index">
                                            <div class="dropdown-divider"></div>
                                        <ng-container *ngIf="not.notificationIsSeen === false || not.notificationIsSeen === undefined">
                                            <button (click)="deleteNotification(i)" class="d-inline transparent">&times;</button>
                                            <li class="dropdown-item cursor d-inline notification mr-2 small" style="color : #87CEFA" (click)="seeNotification(i)"><b>{{not.text}}</b> </li>
                                            <div class="dropdown-divider"></div>
                                        </ng-container>
                                        <ng-container *ngIf="not.notificationIsSeen === true ? true : false">
                                            <button (click)="deleteNotification(i)" class="d-inline transparent">&times;</button>
                                            <li class="dropdown-item cursor d-inline notification mr-2 small" (click)="seeNotification(i)"><b>{{not.text}} </b></li>
                                            <div class="dropdown-divider"></div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </li>
                            <ng-container *ngIf="!login.hasRoleAdmin()">
                                    <li class="nav-item" routerLinkActive="active">
                                        <a class="nav-link" routerLink="/profile" title="Profile">
                                            <i class="fa fa-user fa-2xe"></i>
                                        </a>
                                    </li>
                                    </ng-container>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/logout">Logout</a>
                        </li>
                </ul>
        </div>
    </div>
</nav>