<div class="top row">
    <div class="offset-lg-2 col-lg-2">
        <ng-container *ngIf="book?.volumeInfo.imageLinks">
                <img class="ml d-block" src="{{book?.volumeInfo.imageLinks.smallThumbnail}}">
        </ng-container>
        <ng-container *ngIf="book?.volumeInfo.imageLinks === undefined || book?.volumeInfo.imageLinks.smallThumbnail === undefined">
                <img class="ml d-block" src="https://islandpress.org/sites/default/files/400px%20x%20600px-r01BookNotPictured.jpg">
        </ng-container>
        <div id="addBook" class="pl-5 mt-3">
            <div class="dropdown-toggle cursor h6 mt-1 ml-2 btn btn-info" data-toggle="dropdown" aria-haspopup="true" autoClose="disabled" aria-expanded="false" ngbDropdown>
            <i class="fa fa-book"></i> Save to:
            </div>
            <div class="dropdown-menu cursor" aria-labelledby="dropDownMenu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="saveBook('READ')">Save book to 'Read list'</a>
                <a class="dropdown-item" (click)="saveBook('TOREAD')">Save book to 'To-read list'</a>
                <a class="dropdown-item" (click)="saveBook('READING')">Save book to 'Reading list'</a>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="row title mb-2">
            <b>{{book?.volumeInfo.title}}</b>
        </div>
        <div class="row author mb-2">
            <ng-container *ngFor="let author of book?.volumeInfo.authors">
                    <p><i>Authors:&ensp;</i>{{author}}</p>
            </ng-container>
        </div>
        <div class="row mb-2 mt-2 align-middle">
            <i>Average rating: </i>&nbsp;{{ book?.volumeInfo.averageRating }}<i class="fa fa-star"></i>
        </div>
    </div>
</div>


<div class="row mt-3">
        <table class="table">
            <tr>
                <th scope="row">Genres:</th>
                <td *ngFor = "let genre of book?.volumeInfo.categories">
                    {{ genre }}
                </td>
            </tr>
            <tr>
                <th scope="row">Description:</th>
                <td [innerHtml]="book?.volumeInfo.description"></td>
            </tr>
            <tr>
                <th scope="row">Identifiers:</th>
                <td *ngFor="let identifiers of book?.volumeInfo.industryIdentifiers">
                    {{ identifiers.type }}: {{ identifiers.identifier }}
                </td>
            </tr>
            <tr>
                <th scope="row">Number of pages:</th>
                <td>{{ book?.volumeInfo.pageCount }}</td>
            </tr>
            <tr>
                <th scope="row">Languages:</th>
                <td>{{ book?.volumeInfo.language }}</td>
            </tr>
            <tr>
                <th scope="row">Publisher:</th>
                <td>{{ book?.volumeInfo.publisher }}</td>
            </tr>
            <tr>
                <th scope="row">Date published:</th>
                <td>{{ book?.volumeInfo.publishedDate | date }}</td>
            </tr>
        </table>
        <br>
    </div>