<div class="container-fluid col-lg-12">
  <div class="row align-items-center">
    <div class="top offset-lg-2 col-lg-1">
        <ng-container *ngIf="user?.pictureUrl !== null && user?.pictureUrl !== undefined">
            <div class="crop">
                <img [src]="'data:image/jpeg;base64,'+user?.pictureUrl" class="img-responsive">
            </div>
        </ng-container>
        <ng-container *ngIf="user?.pictureUrl === null || user?.pictureUrl === undefined">
            <div class="crop">
                <img src="{{alternateUrl}}" class="img-responsive">
            </div>
        </ng-container>
    </div>
    <div class="top offset-lg-1 col-lg-3">
        <h2> {{user?.name}} </h2>
        <p><i>About me:</i></p>
        <div *ngIf="user?.description != null && user?.description != undefined" class="container desc">
            {{ user?.description }}
        </div>
    </div>
    <ng-container *ngIf="!loginService?.hasRoleAdmin()">
    <div class="align-middle top offset-lg-1 col-lg-2 text-center">
      <div>
          <a class="mt-4 mb-4" (click)="showUsersReadBooks()"><i class="fa fa-book"></i> Read books</a>
      </div>
      <hr>
      <div>
          <a class="mt-4 mb-4" (click)="showUsersToReadBooks()"><i class="fa fa-clock"></i> To-Read books</a>
      </div>
      <hr>
      <div>
          <a class="mt-4 mb-4" (click)="showUsersReadingBooks()"><i class="fa fa-book-reader"></i> Currently reading</a>
      </div>
    </div>
  </ng-container>
  </div>
  <div class="row mt-3">
      <div class="offset-lg-2 col-lg-8">
          <table class="border-black table table-user-information">
              <tbody>
                <tr>
                  <td><b>username</b></td>
                  <td>{{ user?.username }}</td>
                </tr>
                <tr>
                  <td><b>date joined</b></td>
                  <td>{{ user?.dateJoined | date }}</td>
                </tr>
                <tr>
                  <td><b>gender</b></td>
                  <td>{{ (user?.gender) ? "Female" : "Male" }}</td>
                </tr>
                <tr style="border-bottom: none;">
                  <td><b>e-mail</b></td>
                  <td>{{ user?.email }}</td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>

  <div class="row mt-5">
    <div class="container pt-2 pb-2">
      <h5 class="pb-3 pt-3">Some of the books user rated:</h5>
      <div class="container alignment">
        <div class="alignment" *ngFor="let book of books">
          <ng-container *ngIf = "book?.userRating != 0 && book?.userRating != null">
            <div class="box">
                <ng-container *ngIf="!loginService?.hasRoleAdmin()">
              <img class="img" (click)="previewBook(book.id)" src="{{book.coverImage}}" (mouseover)="book.hover = true" (mouseleave)="book.hover = false"/>
            </ng-container>
            <ng-container *ngIf="loginService?.hasRoleAdmin()">
                <img class="img" src="{{book.coverImage}}"/>
            </ng-container>
            </div>
            <br>
            <p class="text-center title">
              <strong> {{ book.title }} </strong>
              <br>
              <i class="text-center fnt">{{ book.author.name }}</i>
            </p>
          </ng-container>
        </div>
        <div *ngIf = "!notEmpty">
            <div class="container text-center mt-5 empty"><i>User hasn't rated any books yet!</i></div>
        </div>
      </div>
    </div>
  </div>
</div>