<div class="round">
  <div>
    <h3 class="text-center pb-3 mt-5 pt-3">Search through user's list here:</h3>
    <div class="center">
      <form class="text-center input-group">
        <input class="form-control" type="text" name="searchString" [(ngModel)]="searchString" placeholder="Search book">&nbsp;
        <button class="btn btn-info" (click)="searchBooks()">Search</button>
        <div class="dropdown">
        </div>
      </form>
    </div>
    <div class="container pt-5">
      <ng-container *ngIf="book">
        <h5 class="pb-3 pt-3">Book search results: </h5>
      </ng-container>
      <div class="container alignment">
        <div>
          <ng-container *ngIf="(books.length === 0 && isSearched) ? true : false">
            <h1>There's no book in our database by that author or title.</h1>
          </ng-container>
          <div class="alignment" *ngFor="let item of books; let i = index">
            <ng-container *ngIf="getBookImage(i)">
              <img class="img" (click)="previewBook(item.id)" src="{{getBookImage(i)}}" />
            </ng-container>
            <br>
            <br>
            <p class="text-center title">
              <strong> {{ item.title }} </strong>
              <br>
              <i class="text-center fnt">{{ item.author.name }}</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>