<div class="top row">
    <div class="offset-lg-2 col-lg-2">
            <img class="ml d-block img text-center" src="{{book?.coverImage}}">
            <div id="addBook" class="pl-5 mt-3">
                <div class="dropdown-toggle cursor btn btn-info" data-toggle="dropdown" aria-haspopup="true" autoClose="disabled" aria-expanded="false" ngbDropdown>
                    Move to:
                </div>
                <div class="btn btn-info" *ngIf="(loginService.user?.id === book?.userId) ? true : false" class="dropdown-menu cursor mb-3"
                    aria-labelledby="dropDownMenu" ngbDropdownMenu>
                    <a *ngIf="(state !== 1) ? true : false" class="dropdown-item" (click)="moveToReadList()">Move book to 'Read list'</a>
                    <a *ngIf="(state !== 3) ? true : false" class="dropdown-item" (click)="moveToToReadList()">Move book to 'To-read list'</a>
                    <a *ngIf="(state !== 2) ? true : false" class="dropdown-item" (click)="moveToReadingList()">Move book to 'Reading list'</a>
                </div>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteBook">Delete </button>
            </div>
    </div>
    <div class="col-lg-7">
            <div class="row title mb-2">
                <b>{{book?.title}}</b>
            </div>
            <div class="row author mb-2">
                {{book?.author.name}}
            </div>
            <div class="row mb-2 align-middle">
                    <div *ngIf="book?.userRating === null">
                        <fieldset [class.rating]="!hover" [class.rated]="hover" (mouseover)="hover=true" (mouseleave)="hover = false">
                            <input type="checkbox" [checked]="book?.globalRating.votes==5" id="star5" name="rating" value="5" (click)="setRating('5')">
                            <label class="full" for="star5" title="Amazing - 5 stars"></label>
                            <input *ngIf="!hover" type="checkbox" [disabled] [checked]="book?.globalRating.votes>=4.5" id="star4half" name="rating" value="4 and a half">
                            <label *ngIf="!hover" class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="checkbox" [checked]="book?.globalRating.votes>=4" id="star4" name="rating" value="4" (click)="setRating('4')">
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input *ngIf="!hover" type="checkbox" [disabled] [checked]="book?.globalRating.votes>=3.5" id="star3half" name="rating" value="3 and a half">
                            <label *ngIf="!hover" class="half" for="star3half" title="I liked it - 3.5 stars"></label>
                            <input type="checkbox" [checked]="book?.globalRating.votes>=3" id="star3" name="rating" value="3" (click)="setRating('3')">
                            <label class="full" for="star3" title="I liked it - 3 stars"></label>
                            <input *ngIf="!hover" type="checkbox" [disabled] [checked]="book?.globalRating.votes>=2.5" id="star2half" name="rating" value="2 and a half">
                            <label *ngIf="!hover" class="half" for="star2half" title="Ok - 2.5 stars"></label>
                            <input type="checkbox" [checked]="book?.globalRating.votes>=2" id="star2" name="rating" value="2" (click)="setRating('2')">
                            <label class="full" for="star2" title="Ok - 2 stars"></label>
                            <input *ngIf="!hover" type="checkbox" [disabled] [checked]="book?.globalRating.votes>=1.5" id="star1half" name="rating" value="1 and a half">
                            <label *ngIf="!hover" class="half" for="star1half" title="It was bad - 1.5 stars"></label>
                            <input type="checkbox" [checked]="book?.globalRating.votes>=1" id="star1" name="rating" value="1" (click)="setRating('1')">
                            <label class="full" for="star1" title="It was bad - 1 star"></label>
                            <input *ngIf="!hover" type="checkbox" [disabled] [checked]="book?.globalRating.votes>=0.5" id="starhalf" name="rating" value="half">
                            <label *ngIf="!hover" class="half" for="starhalf" title="Just no - 0.5 stars"></label>
                        </fieldset>
                    </div>
                    <div *ngIf="book?.userRating != null">
                        <fieldset class="rated">
                            <input type="radio" [checked]="book?.userRating==null" class="remove" id="deleteRating" name="rating" value="0" (click)="setRating('0'); hover=false"
                            />
                            <label class="remove" for="deleteRating" title="Remove my rating"></label>
                            <input type="checkbox" [checked]="book?.userRating==5 && book?.userRating!=null" [disabled]="book?.userRating==5" id="star5"
                                name="rating" value="5" (click)="setRating('5')" />
                            <label for="star5" title="Amazing - 5 stars"></label>
                            <input type="checkbox" [checked]="book?.userRating==4 && book?.userRating!=null" [disabled]="book?.userRating==4" id="star4"
                                name="rating" value="4" (click)="setRating('4')" />
                            <label for="star4" title="Pretty good - 4 stars"></label>
                            <input type="checkbox" [checked]="book?.userRating==3 && book?.userRating!=null" [disabled]="book?.userRating==3" id="star3"
                                name="rating" value="3" (click)="setRating('3')" />
                            <label for="star3" title="I liked it - 3 stars"></label>
                            <input type="checkbox" [checked]="book?.userRating==2 && book?.userRating!=null" [disabled]="book?.userRating==2" id="star2"
                                name="rating" value="2" (click)="setRating('2')" />
                            <label for="star2" title="Ok - 2 stars"></label>
                            <input type="checkbox" [checked]="book?.userRating==1 && book?.userRating!=null" [disabled]="book?.userRating==1" id="star1"
                                name="rating" value="1" (click)="setRating('1')" />
                            <label for="star1" title="It was bad - 1 star"></label>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                        <br>
                        <br>
                        <i>Average rating:</i>&nbsp;{{book?.globalRating.votes}}
                        <i class="fa fa-star"></i>
                </div>
                <div class="row">
                        <label class="box row">Do you want book to be private?
                            <input type="checkbox" [checked]="book?.bookIsPrivate" (click)="setPrivate()" id="isPrivate" name="private" value="isPrivate">
                            <span class="checkmark"></span>
                        </label>
                </div>
    </div>
</div>

<div class="row mt-3">
    <table class="table">
        <tr>
            <th scope="row">Genres:</th>
            <td *ngFor="let genre of book?.genreList">
                {{ genre.genre }}
            </td>
        </tr>
        <tr>
            <th scope="row">Description:</th>
            <td [innerHtml]="book?.description"></td>
        </tr>
        <tr>
            <th scope="row">Isbn13:</th>
            <td>{{ book?.isbn13}}</td>
        </tr>
        <tr>
            <th scope="row">Number of pages:</th>
            <td>{{ book?.pageCount}}</td>
        </tr>
        <tr>
            <th scope="row">Languages:</th>
            <td>{{ book?.language}}</td>
        </tr>
        <tr>
            <th scope="row">Publisher:</th>
            <td>{{ book?.publisher}}</td>
        </tr>
        <tr>
            <th scope="row">Date published:</th>
            <td>{{ book?.publishedDate | date }}</td>
        </tr>
    </table>
</div>

    <div class="mb-5 mt-2">
        <div class="mb-2 text-center">
            <fb-like url ="www.google.com"></fb-like>
        </div>
        <h4 class="text-center">Comments: </h4>
        <br>
        <div class="col-lg-6 offset-lg-3">
            <ng-container *ngFor="let comment of commentList; let i = index">
                <app-comment (uploaded)="someMethod($event)" [bookId]="bookId" [comment]="comment"></app-comment>
            </ng-container>
            <br>
            <div class="text-center">
                <app-write-comment  (uploaded)="someMethod($event)" [bookId]="bookId"></app-write-comment>
            </div>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="deleteBook" data-backdrop="static" role="dialog" aria-labelledby="deleteBookLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteBookLabel">Book Library</h5>
              <button *ngIf="!lgdin" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this book?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteBook()" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>