.title {
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;

}

.author {
    font-size: 20px;
}

.ml {
    margin-left: 50px;
}

.center {
    margin-left: 15%;
    margin-right: 15%;
}

.top {
    margin-top: 100px;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
    border: none;
    float: left;
}
  
.rating > input { display: none; } 
.rating > label:before { 
    margin: 5px;
    font-size: 1.5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
  
.rating > .half:before { 
    content: "\f089";
    position: absolute;
}
  
.rating > label { 
    color: #ddd; 
    float: right; 
}
  
.rating > input:checked,
.rating > input:checked ~ label  { color: #FFD700;  } 
  

/*rated*/
  
.rated { 
    border: none;
    float: left;
}

.rated > label.remove::before,
.rated > input.remove::before {
    content: "\f057";
    font-size: 1.5em;
    font-family: FontAwesome;
}
    
.rated > input { display: none; } 
.rated > label:before { 
    margin: 5px;
    font-size: 1.5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
    
.rated > .half:before { 
    content: "\f089";
    position: absolute;
}
    
.rated > label { 
    color: #ddd; 
    float: right; 
}
    
/***** CSS Magic to Highlight Stars on Hover *****/
    
.rated > input:checked ~ label, /* show gold star when clicked */
.rated:not(:checked) > label:hover, /* hover current star */
.rated:not(:checked) > label:hover ~ label { color: #4845ff;  } /* hover previous stars in list */
    
.rated > input:checked + label:hover, /* hover current star when changing rating */
.rated > input:checked ~ label:hover,
.rated > label:hover ~ input:checked ~ label, /* lighten current selection */
.rated > input:checked ~ label:hover ~ label { color: #7d7bffe7;  } 

table { 
    border-collapse: collapse; 
    border-top:none;
    padding-right: 20%;
}

th {
    border-right: solid 1px rgb(167, 167, 167);
    width: 25%;
    border-top:none;
    border-bottom: none;
    text-align: right;
    margin-right: 5em;
}

tr {
    margin-top: 40px;
    margin-bottom: 40px;
}

td {
    display:block;
    border-top: none;
    border-bottom: 1rem gray;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.cursor {
    cursor: pointer;
}

img {
    height: 260px;
    width: 175px;
}


/* The container */
.box {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
}

/* Hide the browser's default checkbox */
.box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-top: 10px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 2px;
    height: 18px;
    width: 18px;
    background-color: rgb(194, 194, 194);
}

/* On mouse-over, add a grey background color */
.box:hover input ~ .checkmark {
    background-color: rgb(138, 138, 138);
}

/* When the checkbox is checked, add a blue background */
.box input:checked ~ .checkmark {
    background-color: #4845ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;  
    display: none;
}

/* Show the checkmark when checked */
.box input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}