<div class="wrapper outer">
  <div class="container">
    <div class="col-md-6 mx-auto text-center">
      <div class="header-title">
        <h1 class="wv-heading--title">
          SIGN UP
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="myform form">
          <form (ngSubmit)="takeSignUpData(f)" #f="ngForm">
            <div class="form-group">
                <input type="text" name="name" minlength="4" class="form-control my-input" #nm="ngModel" ngModel placeholder="First name"
                  [(ngModel)]="name" required [ngClass]="{'is-invalid' : nm.invalid && (nm.dirty || nm.touched)}">
                <div class="invalid-feedback" *ngIf="nm.invalid && (nm.dirty || nm.touched)">Please enter your name (minimum 5characters)!</div>
              </div>
            <div class="form-group">
              <input type="text" name="username" minlength="4" class="form-control my-input" #uss="ngModel" ngModel placeholder="Username"
                [(ngModel)]="username" required [ngClass]="{'is-invalid' : uss.invalid && (uss.dirty || uss.touched)}">
              <div class="invalid-feedback" *ngIf="uss.invalid && (uss.dirty || uss.touched)">Please enter your username (minimum 5characters)!</div>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control my-input" email id="email" #mail="ngModel" placeholder="Email" ngModel
                [(ngModel)]="email" required [ngClass]="{'is-invalid' : mail.invalid && (mail.dirty || mail.touched)}">
              <div class="invalid-feedback" *ngIf="mail.invalid && (mail.dirty || mail.touched)">Please enter your email!</div>
            </div>
            <div class="form-group">
              <input type="password" minlength="5" name="password" class="form-control my-input" #pass="ngModel" ngModel placeholder="Password"
                [(ngModel)]="password" validateEqual="confirmPassword" reverse="true" required [ngClass]="{'is-invalid' : pass.invalid && (pass.dirty || pass.touched)}">
              <div class="invalid-feedback" *ngIf="pass.invalid && (pass.dirty || pass.touched)">Please enter your password (minimum 5 characters)!</div>
            </div>
            <div class="form-group">
              <input type="password" minlength="5" name="confirmPassword" class="form-control my-input" #cnfrm="ngModel" ngModel [(ngModel)]="confirmPassword"
                placeholder="Confirm password" required validateEqual="password" [ngClass]="{'is-invalid' : cnfrm.invalid && (cnfrm.dirty || cnfrm.touched)}">
              <div class="invalid-feedback" *ngIf="cnfrm.invalid && (cnfrm.dirty || cnfrm.touched)">Passwords must match!</div>
            </div>
            <re-captcha class="center" (resolved)="resolved($event)" siteKey="6Leat2gUAAAAAKGVwPfAAj-n1puugALsPSBGbZoO"></re-captcha>
            <hr>
            <div class="text-center">
              <button type="submit" class="btn btn-block send-button tx-tfm" [disabled]="f.invalid || !captchaConfirmed" data-toggle="modal"
                data-target="#registrationModal">Sign up</button>
            </div>
            <hr>
            <div class="text-center">
               <div class="text-center">Already have an account? <a class="font-highlights" href="/#/login"><a class="i">Log in!</a></a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="registrationModal" data-backdrop="static" role="dialog" aria-labelledby="registrationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrationModalLabel">Book Library</h5>
        <button *ngIf="!registered" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button *ngIf="!registered" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="registered" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onOk()">OK</button>
      </div>
    </div>
  </div>
</div>