<h4>Title: {{book?.title}}</h4>
<img style="width:140px; height:160px;" src="{{book?.cover}}" />
<h6>Description: {{book?.description}}</h6>
<br>
<h6>isbn13: {{book?.isbn13}}</h6>
<br>
<h6>globalRating: {{book?.globalRating}}</h6>
<br>
<h6>userRating: {{book?.userRating?.votes}}({{book?.userRating?.numberOfVotes}} people voted)</h6>
<br>
<h6>pageCount: {{book?.pageCount}}</h6>
<br>
<h6>publishDate: {{book?.publishDate}}</h6>
<br>
<h6>language: {{book?.language}}</h6>
<br>
<h6>genre list: </h6>
<ng-container *ngFor="let genre of book?.genreList">
  {{genre}}
  <br>
</ng-container>
<h6>publisher: {{book?.publisher}}</h6>
<br>
<h6>author: {{book?.author?.name}}</h6>
<br>