.nem-border {
    border: 1px solid black;
}

.center {
    padding-left: 20%;
    padding-right: 20%;
}

.top {
    padding-top: 100px;
}

.img {
    height: 240px;
    width: 165px;
    box-shadow: 7px 7px rgba(141, 136, 136, 0.377);
}

.form-inline > * {
    margin: 10px 10px;   
    vertical-align: text-top;
    display: inline-block;
    vertical-align: top;
 }

 .btm {
    padding-bottom: 60px;
 }

 .fnt {
    font-size: 80%;
    font-style: italic;
    color: #373737;
 }

 .title {
    width: 190px;
    vertical-align: top;    
}

.alignment {
    margin-right: 1.5%; 
    display:inline-block;
    vertical-align: top;
    margin-bottom: 2%;
}

.round {
    margin-top: 80px;
}