<div class="container round">
  <h3 class="text-center pb-3 pt-3 mt-5 pt-3 top">Search for books here:</h3>
    <div class="center">
      <form class="text-center input-group">
        <input class="form-control" type="text" name="searchString" [(ngModel)]="searchString" placeholder="Search book">&nbsp;
        <button class="btn btn-info" (click)="searchBooks()">Search</button>
      </form>
    </div>
    <div class="container pt-5">
      <h5 class="pb-3 pt-3">Book search results: </h5>
      <div class="container alignment">
        <div>
          <div class="alignment" *ngFor="let item of books?.items; let i = index">
            <ng-container *ngIf="getBookImage(i)">
              <img class="img" (click)="previewBook(item.selfLink)" src="{{getBookImage(i)}}" />
            </ng-container>
            <br>
            <br>
            <p class="text-center title">
              <strong> {{ item.volumeInfo.title }} </strong>
              <br>
              <i class="text-center fnt">{{ item.volumeInfo.authors }}</i>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>