.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
}
    
.g-button{
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
}
    
.my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
}
    
.header-title{
    margin: 2rem 0;
}

h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color:#4c5357;
    }

h2{
    color: #5e8396;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    
@media screen and (max-width:480px){
h1{
    font-size: 26px;
    }
h2{
    font-size: 20px;
    }
}

.container {
    width: 335px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    align-content: center;
}

.wrapper {
    display : flex;
    align-items : center;
}

.font {
    color: #999;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
    
.font>a>.i {
    color: #4bccbf;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.modal {
    padding-block-start: 8%;
    vertical-align: middle;
}

.outer {
    margin-top: 160px;
}

.myform {
    width: fit-content; 
}

a.i {
    color: #4bccbf;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}