<div class="wrapper outer">
  <div class="container col-md-6 mx-auto text-center">
    <div class="header-title">
      <h1 class="wv-heading--title">
        SIGN IN
      </h1>
    </div>
    <div class="row">
       <div class="col-md-4 mx-auto">
          <div class="myform form">
             <form (ngSubmit)="takeSignInData(f)" #f="ngForm">
                <div class="form-group">
                   <input type="text" name="username" min="5" class="form-control my-input" #uss = "ngModel" ngModel placeholder="Username" [(ngModel)]="username" required [ngClass]="{'is-invalid' : uss.invalid && (uss.dirty || uss.touched)}">
                   <div class="invalid-feedback" *ngIf="uss.invalid && (uss.dirty || uss.touched)">Please enter your username!</div>
                </div>
                <div class="form-group">
                   <input type="password" min="6" name="password" class="form-control my-input" #pass="ngModel" ngModel placeholder="Password" [(ngModel)]="password" validateEqual="confirmPassword" reverse="true" [disabled]="lgdin" required [ngClass]="{'is-invalid' : pass.invalid && (pass.dirty || pass.touched)}">
                   <div class="invalid-feedback" *ngIf="pass.invalid && (pass.dirty || pass.touched)">Please enter your password!</div>
                </div>              
                <re-captcha (resolved)="resolved($event)" siteKey="6Leat2gUAAAAAKGVwPfAAj-n1puugALsPSBGbZoO"></re-captcha>
                <hr>
                <div class="text-center">
                   <button type="submit" class="btn btn-block send-button tx-tfm" [disabled]="f.invalid || !captchaConfirmed" data-toggle="modal" data-target="#signIn">Sign in</button><hr>
                   <span class="font">Forgot your <a class="font-highlights" data-toggle="modal" data-target="#forgotPasswordModal"><i class="i">password?</i></a></span><hr>
                   <div class="text-center">Don't have account? <a class="font-highlights" href="/#/registration"><a class="i">Register!</a></a></div>
                </div>
             </form>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signIn" data-backdrop="static" role="dialog" aria-labelledby="signInLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInLabel">Book Library</h5>
        <button *ngIf="!lgdin" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button *ngIf="!lgdin" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="lgdin" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onOk()">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" data-backdrop="static" role="dialog" aria-labelledby="forgotPasswordModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <p>Please enter your e-mail</p>
          <input class="form-control form-group" [(ngModel)]="email" name="email" type="email" #mail="ngModel" email placeholder="Enter your e-mail here"
            [ngClass]="{'is-invalid': mail.invalid && (mail.dirty || mail.touched)}">
          <div class="invalid-feedback" *ngIf="mail.invalid && (mail.dirty || mail.touched)">This is not e-mail!</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="form.invalid" (click)="forgotPassword()" data-toggle="modal"
          data-target="#sentEmailModal">Send</button>
      </div>
    </div>
  </div>
</div>

<!-- Msg modal -->
<div class="modal fade" id="sentEmailModal" data-backdrop="static" role="dialog" aria-labelledby="sentEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sentEmailModalLabel">Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ msg }}</p>
      </div>
      <div class="modal-footer">
        <button *ngIf="!msgSent" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="msgSent" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal not confirmed -->
<div class="modal fade" id="notConfirmed" data-backdrop="static" role="dialog" aria-labelledby="notConfirmedLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notConfirmedLabel">Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You have to confirm your acconut!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>