<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div id = "{{comment.id}}ID" class="text-left">
        <a class="small"><b>{{comment.userName}}</b><br><i>posted on {{comment.postTime | date}}</i></a><br>
        <ng-container>
            <ng-container *ngIf="(comment.textToReply === undefined || (comment.textToReply === null) || (comment.textToReply === '')) ? false : true">
                reply to:
                <a><i>{{comment.textToReply}}</i></a>
                <br>
            </ng-container>
            <br>
            <ng-container *ngIf="!editing" class="container">
              {{comment.text}}
            </ng-container>
            <ng-container *ngIf="editing">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mt-1">
                            <textarea placeholder="Type your comment here" rows="2" [(ngModel)]="commText" maxlength="250" class="form-control col-lg-12"></textarea><br>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="replying">
                <br>
                <br>
                <div class="offset-lg-1 col-lg-10 mt-1">
                  <textarea placeholder="Write your text" [(ngModel)]="replyText" rows="4" maxlength="250" class="form-control col-lg-12"></textarea><br>
                  <button *ngIf="replying" (click)="replyToComment()" class="btn btn-info">Reply</button>
                  <button *ngIf="replying" (click)="setReplying()" class="btn btn-info">Cancel</button>
                </div>
            </ng-container>
        </ng-container>
      </div>
    </div>
 
    
    <div class="col-lg-3 align-text-bottom">    
        <ng-container *ngIf="!(comment.userId === loginService.user.id)">
            <div class="row">
                <button *ngIf="!replying" (click)="setReplying()" class="btn btn-info">Reply</button>
                <button (click) = "reportComment()" *ngIf="replying ? false : true" class="btn btn-danger">Report</button>
            </div>
            <div class="row mt-2">
                <div *ngIf="reported" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p class="small">You've successfully reported this comment.</p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            </div>
        </ng-container>        
        <ng-container *ngIf="(comment.userId === loginService.user.id)">
            <button *ngIf="editing"[disabled]="((commText === null) || (commText === undefined) || (commText === ''))" (click)="saveComment()" class="btn btn-success">Save</button>                    
            <button (click)="setEdit()" class="btn btn-info">{{editButtonText}}</button>
            <button *ngIf = "!editing" class="btn btn-danger" data-toggle="modal" data-target="#deleteComment">Delete</button>
        </ng-container>
      </div>
  </div>
  <hr>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteComment" data-backdrop="static" role="dialog" aria-labelledby="deleteCommentLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteCommentLabel">Book Library</h5>
              <button *ngIf="!lgdin" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this comment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteComment()" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>