<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8">
            <textarea placeholder="Type your comment here" rows="4" [(ngModel)]="text" maxlength="250" class="form-control col-lg-12"></textarea><br>
            <button [disabled] = "((text === undefined) || (text === null) || (text === ''))" (click) = "postComment()" class="btn btn-primary" #postButton id="postButton" >Post Comment</button>
        </div>
    </div>
    <hr>
</div>
