<div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="text-left">
          <a class="small"><b>{{comment.userName}}</b><br><i>posted on {{comment.postTime | date}}</i></a>
          <ng-container *ngIf="editing ? false : true">
              <ng-container *ngIf="(comment.textToReply === undefined || (comment.textToReply === null) || (comment.textToReply === '')) ? false : true">
                  <br>Reply to:
                  <a><i>{{comment.textToReply}}</i></a>
                  <br>
              </ng-container>
              <div class="container mt-2">
                {{comment.text}}
              </div>
          </ng-container>
        </div>
      </div>
    </div>
    <hr>
  </div>
