<div class="col-xs-1" align="center" style="margin-top: 30%">
  <div class="border border-black center">
    <h6>{{comment?.userName}} posted on {{comment?.postTime | date}}</h6>
    <br>
    <h5>{{comment?.text}}</h5>
    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteComment" >Delete</button>
  
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteComment" data-backdrop="static" role="dialog" aria-labelledby="deleteCommentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCommentLabel">Book Library</h5>
          <button *ngIf="!lgdin" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this comment?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteComment()">Yes</button>
        </div>
      </div>
    </div>
  </div>