.title {
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;

}

.author {
    font-size: 20px;
}

img {
    width: 110%;
    height: 110%;
}

.ml {
    margin-left: 50px;
}

.center {
    margin-left: 15%;
    margin-right: 15%;
}

.top {
    margin-top: 100px;
}

table { 
    border-collapse: collapse; 
    border-top:none;
    margin-top: 8.5%;
    padding-right: 20%;
}

th {
    border-right: solid 1px rgb(167, 167, 167);
    width: 25%;
    border-top:none;
    border-bottom: none;
    text-align: right;
    margin-right: 5em;
}

tr {
    margin-top: 40px;
    margin-bottom: 40px;
}

td {
    display:block;
    border-top: none;
    border-bottom: 1rem gray;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.cursor {
    cursor: pointer;
}

.sm {
    font-size: 80%;
}