.nem-border {
    border: 1px solid black;
}

.center {
    padding-left: 20%;
    padding-right: 20%;
}

.top {
    padding-top: 100px;
}

.form-inline > * {
    margin: 10px 10px;   
    vertical-align: text-top;
    display: inline-block;
    vertical-align: top;
 }

 .btm {
    padding-bottom: 60px;
 }

 .fnt {
    font-size: 80%;
    font-style: italic;
    color: #373737;
 }

 .title {
    width: 190px;
    vertical-align: top;    
}

.alignment {
    margin-right: 1.5%; 
    display:inline-block;
    vertical-align: top;
    margin-bottom: 2%;
}

.round {
    margin-top: 80px;
}

.img-crop {    
    width: 200px;
    height: 200px;
    object-position: center;  
    object-fit: cover; 
    vertical-align: middle;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}