<div class="container round">
    <h3 class="text-center pb-3 pt-3 mt-5 pt-3 top">Search for profiles here:</h3>
      <div class="center">
        <form class="text-center input-group">
          <input class="form-control" type="text" name="searchString" [(ngModel)]="searchString" placeholder="Search book">&nbsp;
          <button class="btn btn-info" (click)="searchProfiles()">Search</button>
        </form>
      </div>
      <div class="container pt-5">
        <h5 class="pb-3 pt-3">Profile search results: </h5>
        <div class="container alignment">
          <div>
              <ng-container *ngIf="(profiles.length === 0 && isSearched) ? true : false">
                  <h1>0 results found</h1>
                </ng-container>
            <div class="alignment" *ngFor="let item of profiles; let i = index">
                <strong> {{ item.username }} </strong> <br>
              <ng-container *ngIf="item?.pictureUrl">
                <img (click)="seeProfile(i)" [src] = "'data:image/jpeg;base64,'+item?.pictureUrl" class = "img-crop img-circle img-responsive">
              </ng-container>
              <ng-container *ngIf="!item?.pictureUrl">
                  <img (click)="seeProfile(i)" src = "{{alternateUrl}}" class = "img-crop img-circle img-responsive">
                </ng-container>
              <br>
              <br>
              <p class="text-center title">
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>